fastapi==0.119.1
httpx==0.28.1
ldap3==2.9.1
mysql-connector-python==8.3.0
orjson==3.11.3
pydantic==2.12.3
pyrad==2.4
python-dotenv==1.1.1
Requests==2.32.5
scapy==2.6.1
uvicorn==0.38.0
pytest
pytest-cov
pytest-asyncio
